<div>
  <span class="close" (click)="toggle()">
    <img src="../../../assets/icons/x.svg" alt="">
  </span>
  <div class="conainer">
    <div class="row">
      <div class="col text-center">
          <h3>Contact Info</h3>
              <a href="admin [at] example.com" rel="nofollow" onclick="this.href='mailto:' + 'ross' + '@' + 'rostasan.com'" target="_blank">Email Link</a>
              <br />or<br />
              <a href="https://discord.gg/dwNQWp6" rel="nofollow">
                      On Discord
              </a>
      </div>
    </div>
  </div>
</div>
