<div class="container-flex topbar color"  [@scrollAnimation]="state" [hidden]="!state">
  <div class="row d-none d-md-flex">
      <div class="col-md">
        <!-- without navbar-nav the links will turn blue -->
        <div class="navbar-nav p-1 menulink">
            <a class="nav-link" routerLink="home" (click)="removeMetaTags()">
              <img src="../../assets/images/r_logo.svg" class="logo" alt="">
            </a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="blog" [routerLinkActive]="['link-active']" (click)="removeMetaTags()">Blog</a>
            <a class="p-lg-4 p-md-3 align-middle disabled"  [routerLinkActive]="['link-active']" (click)="removeMetaTags()">Plays</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="prose" [routerLinkActive]="['link-active']" (click)="removeMetaTags()">Prose</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="screenplays" [routerLinkActive]="['link-active']" (click)="removeMetaTags()">Screenplays</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="serial" [routerLinkActive]="['link-active']" (click)="removeMetaTags()">Serial</a>
            <div class="icon">
              <a href="https://twitter.com/rostasan?ref_src=twsrc%5Etfw" class="twitter-follow-button social"
                data-show-count="false">
                <i class="fa fa-twitter twit"></i>
              </a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="icon">
              <i class="fa fa-envelope twit" aria-hidden="true" (click)="toggle()"></i>
            </div>
            <div class="icon">
              <a href="https://github.com/rostasan">
                <i class="fa fa-github twit" aria-hidden="true" ></i>
              </a>
            </div>
          </div>
      </div>

  </div>
</div>

<div class="container d-inline-flex d-md-none" *ngIf="!show">
  <div class="row">
    <div class="col">
      <a (click)="openNav()">
        <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#999" stroke-width="4" />
          <path d="M0,14 30,14" stroke="#999" stroke-width="4" />
          <path d="M0,23 30,23" stroke="#999" stroke-width="4" />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="container d-inline-flex d-md-none sideNav" *ngIf="show" @open (click)="closeNav()" id="sideNav">
  <div class="row  color">
    <div class="col">
      <div class=" p-1 menu" >
        <img class="nav-link" routerLink="home" src="../../assets/images/r_logo.svg" class="logo" alt="">
        <a class="nav-link" routerLink="blog" [routerLinkActive]="['link-active']">Blog</a>
        <!-- <a class="nav-link btn disabled" routerLink="plays" [routerLinkActive]="['link-active']">Plays</a> -->
        <a class="nav-link" routerLink="prose" [routerLinkActive]="['link-active']">Prose</a>
        <a class="nav-link" routerLink="screenplays" [routerLinkActive]="['link-active']">Screenplays</a>
        <a class="nav-link" routerLink="serial" [routerLinkActive]="['link-active']">Serial</a>
        <a href="https://twitter.com/rostasan?ref_src=twsrc%5Etfw" class="twitter-follow-button social" data-show-count="false">
          <i class="fa fa-twitter twit"></i>
        </a>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>


