<div class="container-flex topbar color"  [@scrollAnimation]="state" [hidden]="!state">
  <div class="row d-none d-md-flex">
      <div class="col-md">
        <!-- without navbar-nav the links will turn blue -->
        <div class="navbar-nav p-1 menulink">
            <a class="nav-link" routerLink="home" (click)="removeMetaTags()" aria-label="Rostasan Home Page">
              <img src="../../assets/images/r_logo.svg" class="logo" alt="">
            </a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="blog" [routerLinkActive]="['link-active']" (click)="removeMetaTags()" aria-label="Blog">Blog</a>
            <a class="p-lg-4 p-md-3 align-middle disabled"  [routerLinkActive]="['link-active']" (click)="removeMetaTags()" aria-label="Plays work in progress">Plays</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="prose" [routerLinkActive]="['link-active']" (click)="removeMetaTags()" aria-label="Prose, some day I'll get this done">Prose</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="screenplays" [routerLinkActive]="['link-active']" (click)="removeMetaTags()" aria-label="Screenplays, shorts & features">Screenplays</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="serial" [routerLinkActive]="['link-active']" (click)="removeMetaTags()" aria-label="Serials including Danica Star">Serial</a>
            <div class="icon">
              <img src="../../assets/icons/at.svg" (click)="toggle()" alt="">
            </div>
            <div class="icon">
              <a href="https://twitter.com/rostasan?ref_src=twsrc%5Etfw" class="twitter-follow-button social"
                data-show-count="false"  target="_blank" rel="noreferrer" aria-label="Rostasan Twitter account">
                  <img src="../../assets/icons/twitter.svg" alt="">
              </a>
              <script async src="https://platform.twitter.com/widgets.js" rel="noreferrer" charset="utf-8"></script>
            </div>
            <div class="icon">
              <a href="https://github.com/rostasan" target="_blank" rel="noreferrer"  aria-label="Rostasan Github">
                  <img src="../../assets/icons/git.svg" alt="">
              </a>
            </div>
          </div>
      </div>

  </div>
</div>

<div class="container d-inline-flex d-md-none" *ngIf="!show">
  <div class="row">
    <div class="col">
      <a (click)="openNav()">
        <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#999" stroke-width="4" />
          <path d="M0,14 30,14" stroke="#999" stroke-width="4" />
          <path d="M0,23 30,23" stroke="#999" stroke-width="4" />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="container d-inline-flex d-md-none sideNav" *ngIf="show" @open (click)="closeNav()" id="sideNav">
  <div class="row  color">
    <div class="col">
      <div class=" p-1 menu" >
            <a class="nav-link" routerLink="home" (click)="removeMetaTags()" aria-label="Rostasan Home Page">
              <img src="../../assets/images/r_logo.svg" class="logo" alt="">
            </a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="blog" [routerLinkActive]="['link-active']" (click)="removeMetaTags()"
              aria-label="Blog">Blog</a>
            <a class="p-lg-4 p-md-3 align-middle disabled" [routerLinkActive]="['link-active']" (click)="removeMetaTags()"
              aria-label="Plays work in progress">Plays</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="prose" [routerLinkActive]="['link-active']" (click)="removeMetaTags()"
              aria-label="Prose, some day I'll get this done">Prose</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="screenplays" [routerLinkActive]="['link-active']"
              (click)="removeMetaTags()" aria-label="Screenplays, shorts & features">Screenplays</a>
            <a class="p-lg-4 p-md-3 align-middle" routerLink="serial" [routerLinkActive]="['link-active']"
              (click)="removeMetaTags()" aria-label="Serials including Danica Star">Serial</a>
            <div class="icon">
              <img src="../../assets/icons/at.svg" (click)="toggle()" alt="">
            </div>
            <div class="icon">
              <a href="https://twitter.com/rostasan?ref_src=twsrc%5Etfw" class="twitter-follow-button social"
                data-show-count="false" target="_blank" rel="noreferrer" aria-label="Rostasan Twitter account">
                <img src="../../assets/icons/twitter.svg" alt="">
              </a>
              <script async src="https://platform.twitter.com/widgets.js" rel="noreferrer" charset="utf-8"></script>
            </div>
            <div class="icon">
              <a href="https://github.com/rostasan" target="_blank" rel="noreferrer" aria-label="Rostasan Github">
                <img src="../../assets/icons/git.svg" alt="">
              </a>
            </div>
      </div>
    </div>
  </div>
</div>


