<div class="container content-panel">
  <button (click)="goBack('/')" md-no-ink class="md-primary">Back</button>
  hello    {{ story.title }}
  <ul>
    <li *ngFor="let chapter of chapters">
      {{ chapter.description }}
    </li>
  </ul>
</div>



<!--


<div class="container-fluid">




      <div class="title-story content-panel panel-margin">
        <h1>{{stories[0].Chapters[0].Chapter}}</h1>

              {{stories[0].Chapters[0].title}}

      </div>

      <div class="content-panel story panel-margin">
      <p>
            Danica taps away at a machine trying to squeeze truth out of complex electronics like sap from a giant maple, but not any sort of absolute truth. She seeks the inner truth felt by all sentient beings of a given demographic, in a particular range of income, that would make the story easy to sell to the Networks. Each twitch of her delicately manicured fingers, changes the footage scrolling by. The scene flickers in and out of focus, she tries toggles the three dimensional playback, centralized VR, holographic, then she stops. Her bored expression changing to one of sheer delight. She restarts the footage.<br />
            “I’ve got it, get in here,” she commands while simultaneously checking her appearance in the reflection of a nearby black monitor. <br />
            “I can’t,” Walter replies over the com. While the ship was not large, the back control room was so isolated that you could be going through a type 4 jump point and not even notice. <br />
            “Get in here now Jellyfish!” She rewinds the footage, a young girl, dirty white clothes, bloody, dazed walks through a scene of devastation. <br />
            Walter looks around at the surrounding space, the cockpit design gave a full view, thrust into the void, look straight up and you see stars, left, right, between your feet. The view in the ship was superb, but Walter didn’t like the idea of leaving the cockpit unless they were docked. He disengages the drives and tries to make his trajectory as neutral as possible, even though there probably wasn’t a ship for a million kilometers.
      </p>
    </div>

    <div class="content-panel story panel-margin">

      <p>
          The ship slides into a horizontal formation, bringing Walters cockpit seat alongside the one that was previously below. He pulls his way to the back of the ship in microgravity . He sees Danica still editing the footage, but frowns when he sees what she’s doing.<br />
          “That won’t work.”<br />
          “Of course it will, the framing is perfect.”<br />
          “Framing? Framing, I got a pure multidimensional shot, with all subjects in the proper orientation and you cut it down to a window.” Walter throws up his arms.<br />
          “Shut up Walter, I need you to open up a feed to the station, I want to upload this before we miss the news.”<br />
          “Make the news?”<br />

          “Yes, make the sector news and if possible all the way to Earth.”<br />
          “Dani this is a long form, there is no way the network will pick it up.”<br />
          “I’ve already made the adjustments, were going to go live here.” Danica turns and pulls down a computer station and powers it up.<br />
          “I’ve seen the footage too Dani, I don’t think this is live material. Dead and missing refugees won’t sell.”<br />

          “That’s not your problem.” Dani half listens to Walter as a holographic image appears from the system she powered up. The image appears to be the solar system. <br />
          <img src="..\..\..\assets\images\prose\danica-star\1.jpg" alt="" class="img-1 img-rounded" ng-model="items[0]" ng-click="light.open()">
          Walter pulls himself over to the transmitter station and fires it up, the antenna extends and he starts to see a connection finalizing the authorization. A warning appears, System Emergency channel given top priority, all other traffic will be limited.<br />
          “We have a problem.”<br />
          </p>

      </div>
      <div class="content-panel story panel-margin">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <img src="..\..\..\assets\images\prose\danica-star\2.jpg" alt="" class="img-2 img-rounded img-responsive" ng-click="light.open()">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
      <div class="content-panel story panel-margin">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
<p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <img src="..\..\..\assets\images\prose\danica-star\3.jpg" alt="" class="img-rounded img-3" ng-click="light.open()">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



    </p>
      </div>


</div>

<script type="text/ng-template" class="" id="modalimg.html">
    <div>
        <img src="..\..\..\assets\images\prose\danica-star\4.jpg" alt="" ng-click="light.close()" class="img-lightBox-1">
  </div>
</script> -->
