<div class="container-fluid container-padding cloak-flicker">
  <div class="row">
    <div class="content-panel panel-default">
      <h1>Prose</h1>
      Here are a list of Stories, treatments, and fan fiction. Not much to see here yet, but I'll add
      content as I go.
      <!-- <h2>Duke Dogewalker<acme-malarkey extra-values="['much story', 'Characters development', 'Much ado about bacon!']"></acme-malarkey></h2> -->

      <ul class="container">
        <li *ngFor="let story of stories">
          <div class="module hero">
            <h3>
              {{story.$key}}
              <a [routerLink]="['/chapters', story.StoryURL]"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact:true}"
                 (click)="onStoryClick(story)">
                "{{story.title}}"
              </a>
            </h3>
          </div>
        </li>

      </ul>
      <a class="nav-link"
         [routerLink]="['/about']"
         [routerLinkActive]="['router-link-active']"
         [routerLinkActiveOptions]="{exact:true}">
        About
      </a>
    </div>
  </div>
</div>
<br />
<!-- Chapters view -->
`
