// version 4
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';


/* Reset */
html, body, div {
    border: 0;
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
    
  }
  body {
    min-height: 100%;
  }